@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Layout */

.container {
    position: relative;
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
}

body {
    background: url(background.jpg);
}

/* utilities */

.p-l {
    padding-left: 20px;
}

.p-r {
    padding-right: 20px;
}

.p-10 {
    padding: 10px;
}

/* Navbar */

header {
    background: #33421e;
    position: sticky;
    top: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 999;
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #dfe198;
    font-size: 28px;
}

nav .list-link {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

nav .list-link a {
    text-decoration: none;
    color: #dfe198;
    text-transform: capitalize;
}

/* HOME */

.container-menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
}

.gambar-utama {
    position: relative;
    width: 100%;
    height: 350px;
}

.gambar-utama img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.konten {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 950px;
    padding: 20px;
}

.list-menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.list-menu:nth-child(1) {
    width: 70%;
}

.list-menu:nth-child(2) {
    width: 30%;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.menu h3 {
    font-size: 26px;
    text-transform: capitalize;
    color: #2d1e17;
}

.menu p {
    font-size: 16px;
    color: #a50051;
    margin: 3px 0;
}

.menu span {
    position: relative;
    width: 100%;
    height: 40px;
    background: #646f4c;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.menu-penjelasan {
    position: relative;
    width: 100%;
}

.menu-penjelasan img {
    position: relative;
    width: 80px;
    height: 95px;
    float: left;
    margin-right: 10px;
}

.menu-penjelasan p {
    color: #281706;
    font-size: 16px;
    text-align: justify;
}

.menu a {
    position: relative;
    width: 100px;
    height: 30px;
    background: #c1c8e6;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #381b43;
}

footer h3 {
    position: relative;
    width: 100%;
    height: 40px;
    background: #646f4c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}